name: linux
  
on: 
  push:
    paths:
      - linux

jobs:
  build:
    runs-on: ubuntu-20.04

    steps:
    - name: Check out
      uses: actions/checkout@v2
      with:
        submodules: true

    - name: Install Dependencies
      shell: bash
      run: |
        ./install-deps.sh
    
    - name: Download and Unzip
      shell: bash
      run: |
        wget https://github.com/leoaura21/linux/archive/$(git submodule status | grep linux | awk '{ print $1 }').zip
        unzip $(git submodule status | grep linux | awk '{ print $1 }').zip
    
    - name: Build Linux
      shell: bash
      run: |
        ./build-linux.sh linux-$(git submodule status | grep linux | awk '{ print $1 }') tinyconfig
